<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet">
    <script src="script.js" defer></script>
    <title>NWO - Add Member</title>
</head>
<body>
    <a th:href="@{/}">Home</a>
    <h1>Add new Master of Needle</h1>
    <form method="post" th:action="@{/add-member/add}" th:object="${newMember}">
        Name: 
        <input type="text" th:field="*{name}">
        Rank: 
        <input type="text" th:field="*{rank}">
        Species: 
        <input type="text" th:field="*{species}">
        Contact: 
        <input type="text" th:field="*{contact}">
        <input type="submit">
    </form>
    <footer>@copy 2023. All rights reserved. Under the protection of The Intergalactic Needle and Wool Union.</footer>
</body>
</html>