<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet">
    <script src="script.js" defer></script>
    <title>NWO - Add Member</title>
</head>
<body>
    <h1>Add new Master of Kneedle</h1>
    <form>
        Name:<input type="text"><br>
        Rank: <input type="text"><br>
        Species: <input type="text"><br>
        Contact: <input type="text"><br>
        <button>Retrieve Soul</button>
    </form>
    <footer>@copy 2023. All rights reserved under the protection of The Intergalactic Needle and Wool Union.</footer>
</body>
</html>