<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet">
    <script src="script.js" defer></script>
    <title>NWO - Home</title>
</head>
<body>
    <h1>Welcome to the New World Order Monday Night Knitting Circle!</h1>
    <form>
        Administrator Log in<br>
        Username: 
        <input type="text"><br>
        Password: 
        <input type="text">
        <button>Log in</button>
    </form>
    <nav>Current members / Add new Member</nav>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi dignissimos cumque minima ducimus unde aut veniam in ipsam voluptatum aliquam temporibus, nemo, aliquid eius ea laudantium tempore accusantium natus! Neque.</p>
    <footer>@copy 2023. All rights reserved under the protection of The Intergalactic Needle and Wool Union.</footer>
</body>
</html>