<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet">
    <script src="script.js" defer></script>
    <title>NWO - Members Page</title>
</head>
<body>
    <a th:href="@{/}">Home</a>
    <h1>Current Members</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Rank</th>
            <th>Species</th>
            <th>Contact</th>
            <th>Adjust membership</th>
        </tr>
        <tr th:each="member : ${membersList}">
            <td><span th:text="${member.name}"></span></td>
            <td><span th:text="${member.rank}"></span></td>
            <td><span th:text="${member.species}"></span></td>
            <td><span th:text="${member.contact}"></span></td>
            <td><span>Dispose</span></td>
        </tr>
    </table>
    
    <footer>@copy 2023. All rights reserved. Under the protection of The Intergalactic Needle and Wool Union.</footer>
</body>
</html>