<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet">
    <script src="script.js" defer></script>
    <title>NWO - Members Page</title>
</head>
<body>
    <h1>Current Members</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Rank</th>
            <th>Species</th>
            <th>Contact</th>
            <th>Adjust membership</th>
        </tr>
        <tr>
            <th>Insert thymeleaf for loop here for members list</th>
        </tr>
    </table>
    <footer>@copy 2023. All rights reserved under the protection of The Intergalactic Needle and Wool Union.</footer>
</body>
</html>